.hero-img {
    max-width: 400px;
    margin: 0 auto;
}

.divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

/* SVG coloring */
.st0 {
    fill: #2b2b2b;
}

.st1 {
    fill: #c2c1c0;
}

.st3 {
    fill: #12243d;
}

.st4 {
    fill: #020202;
}

.st5 {
    fill: #fff;
}

.st6 {
    fill: #1a315b;
}

.st2 {
    animation: rainbowAnimation 30s linear infinite;
}

@keyframes rainbowAnimation {
    0% {
        fill: red;
    }

    14.28% {
        fill: orange;
    }

    28.56% {
        fill: yellow;
    }

    42.84% {
        fill: green;
    }

    57.12% {
        fill: blue;
    }

    71.4% {
        fill: indigo;
    }

    85.68% {
        fill: violet;
    }

    100% {
        fill: red;
    }
}
